<p>＜お気に入り一覧＞</p>


<% @favorites_blogs.each do |blog| %>
  <table align="center">
    <tr><td>投稿者：<%= User.find(blog.user_id).name %></td></tr>
    <tr><td><%= image_tag blog.blog_img %></td></tr>
    <tr><td><%= blog.content %></td></tr>
  </table>
  <br>
<% end %>
